// --------------------
// PRODUCT BOX STYLE 1
// --------------------
.product-style-1 {
    margin-bottom: 35px;

    .product-info {
        padding-left: 10px;
        padding-right: 10px;
    }
}
