.upsell-products {
    margin-bottom: 40px;
}

.related-product {
    .title-size-medium .title {
        font-size: 25px;
        font-weight: 500;
    }

    .product-style-1 {
        margin-bottom: 0;
    }
}
