.product-category {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;

    h2 {
        background: white;
        padding: 12px 20px;
        position: absolute;
        bottom: 15px;
        left: 50%;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
        @include transform(translateX(-50%));

        mark {
            display: none;
            background-color: transparent;
        }
    }

    > a {
        display: block;
        overflow: hidden;
        position: relative;

        p {
            display: none;
        }

        img {
            width: 100%;
            @include transition(all 1000ms);
        }
    }

    &:hover {
        > a img {
            opacity: 0.4;
            @include transform(scale(1.04));
        }
    }
}
