.widget {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    .widgettitle, .widget-title {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 7px;
        margin: 0 0 30px;


        &:after {
            content: '';
            width: 40px;
            height: 2px;
            background: #d1d1d1;
            position: absolute;
            left: 0;
            bottom: 0;
        }

    }

    .count {
        float: right;
        font-size: 14px;
        position: relative;
        top: 3px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    ul.children {
        padding-left: 15px;
    }
}

.widget_ranged_price_filter .ranged-price-filter,
.widget_order_by_filter {
    li.current {
        color: $primary-color;

        a {
            color: $primary-color;
        }
    }
}


/** ------------------------------------------
* WIDGET CATEGORIES
* ------------------------------------------ */

.widget_categories,
.widget_pages,
.widget_archive,
.widget_nav_menu,
.widget_product_categories {

	.screen-reader-text {
		display: none;
	}

   	ul {

		li {
			color: #333333;
			display: block;

			a {
				padding-right: 2px;
				display: inline-block;
			}

			&.current_page_item {

			    > a {
			       	color: $primary-color;
			    }
			}
		}
	}

	li {

		ul {
			margin-top: 10px;
			padding-left: 15px;
		}
	}
}


/** ------------------------------------------
* WIDGET RECENT POST
* ------------------------------------------ */
.adiva-recent-posts-list {

	li {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
		margin-bottom: 15px;
    	padding-bottom: 15px;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	.recent-posts-thumbnail {
		flex: 0 0 auto;
		margin-right: 15px;
	}

	.recent-posts-info {
		flex: 1 1 auto;
	}

	.attachment-thumbnail {
		max-width: 60px;
	}

	.entry-title {
		font-size: inherit;
        font-weight: 400;
		margin-bottom: 4px;
        position: relative;
        top: -3px;
	}

	.recent-posts-time,
	.recent-posts-comment {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.6);
	}

	.recent-posts-time {
		margin-right: 5px;
	}
}

/** ------------------------------------------
* WIDGET RECENT COMMENTS
* ------------------------------------------ */

.widget_recent_comments {

	ul {

		li {
			&:before {
				content: '\f0e5';
                font-family: 'FontAweSome';
				margin-right: 7px;
			}
		}
	}
}

/** ------------------------------------------
* WIDGET RSS
* ------------------------------------------ */

.widget_rss {

	.widgettitle {

		a {
			color: $heading-color;
			vertical-align: middle;

			img {
				vertical-align: initial;
			}
		}
	}

	ul {

		li {
			line-height: 1.5;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ebebeb;

			> a {
				margin-bottom: 8px;
				display: block;
				color: $heading-color;
				font-weight: 600;
			}

			cite {
				margin-top: 5px;
				display: inline-block;
			}

			&:last-child {
				border-bottom: none;
				margin-bottom: 0px;
			}
		}
	}

	.rss-date {
		font-size: 13px;
		margin-bottom: 8px;
		display: block;

		&:before {
			content: '\f073';
			font-family: "FontAwesome";
			display: inline-block;
			margin-right: 5px;
		}
	}
}


/** ------------------------------------------
* CALENDAR
* ------------------------------------------ */

.widget_calendar {

	#wp-calendar {
		margin-bottom: 0;

		> caption {
			text-align: center;
			color: $heading-color;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		th {
			text-align: center;
			padding: 5px;
			font-size: 16px;
			border-bottom: none;
		}

		td {
			text-align: center;
			padding: 8px;
			border-bottom: none;

		}

        tbody a {
            background-color: $primary-color;
            color: white;
            display: block;
            font-weight: 700;
        }

		#prev {
			text-align: left;
		}

		#next {
			text-align: right;
		}

		thead {

			th {
				border-bottom: 2px solid rgba(129, 129, 129, 0.10);
			}
		}

		tfoot {

			td {
				border-top: 2px solid rgba(129, 129, 129, 0.10);
			}
		}
	}

}

/** ------------------------------------------
* WIDGET PRODUCT
* ------------------------------------------ */

.widget_products,
.widget_top_rated_products {

	.product_list_widget {

		li {

			a {

				&:hover {

					.product-title {
						color: #000000;
						opacity: 0.8;
					}
				}
			}

			.product-title {
				-webkit-transition:all 0.25s ease;
    			transition:all 0.25s ease;
			}
		}
	}
}

/** ------------------------------------------
* WIDGET SEARCH
* ------------------------------------------ */
.search-form {
    display: block;

    .search-submit {
        position: absolute;
        right: 0;
        top: 0;
        color: black;
        height: 45px;
        line-height: 49px;
        padding: 0 15px;
        font-size: 20px;
        background-color: transparent;
        border: none;
    }
}


/** ------------------------------------------
* WIDGET TAG
* ------------------------------------------ */
.tagcloud {
    overflow: hidden;

    a {
        display: inline-block;
        float: left;
        line-height: 30px;
        padding: 0 22px;
        font-size: 13px !important;
        border: 1px solid #ebebeb;
        border-radius: 20px;
        margin: 0 5px 5px 0;

        &:hover, &:focus {
            border-color: $primary-color;
            background-color: $primary-color;
            color: white !important;
        }
    }
}


/** ------------------------------------------
* WIDGET SHOPPING CART
* ------------------------------------------ */
.cart_list {
    list-style: none;
    padding: 0;
    margin: 0;

    dl.variation {
        display: none;
    }

    li {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 15px;

        &.empty {
            margin: 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .wc-loading {
            left: calc(40px - 10px);
            top: calc(50% - 17.5px);
            z-index: 99;
            opacity: 1;
        }

        &.loading {
            opacity: 0.5;
        }

        &.empty {
            padding-bottom: 0;
        }

        a {
            padding: 0;
        }

        .preview-image {
            padding: 0;
            width: 80px;
            float: left;
        }

        .desc {
            width: calc(100% - 80px);
            padding-left: 20px;
            float: left;
            position: relative;

            .product_name {
                font-weight: 400;
                display: block;
                margin-bottom: 7px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .cart-price {
                display: block;
                margin-bottom: 9px;
            }

            .amount {
                font-size: 18px;
                font-weight: 500;
                color: black;
            }

            .remove {
                margin-left: 28px;

                i {
                    top: 0;
                    line-height: 1;
                    color: rgba(14, 14, 14, 0.6);
                    font-size: 17px;
                }
            }
        }

        .quantity {
            font-weight: 500;
            width: auto;
        }

        .variation {
            margin-bottom: 5px;

            .variation-Vendor {
                display: inline-block;
            }
        }
    }
}

.widget_shopping_cart_content {
    .total {
        font-size: 18px;
        border-top: 1px solid #E6E6E6;
        padding-top: 15px;
        margin-bottom: 27px;
        font-weight: 500;

        .amount {
            float: right;
        }
    }

    .buttons {
        margin-bottom: 0;

        a {
            height: 45px;
            line-height: 43px;
            border: 2px solid #ebebeb;
            display: block;
            margin-bottom: 10px;
            padding: 0 20px;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;

            &:hover {
                background-color: $primary-color;
                border-color: $primary-color;
                color: white !important;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/** ------------------------------------------
* WIDGET FILTER PRICE
* ------------------------------------------ */
.widget_price_filter {
    .price_slider {
        margin-bottom: 35px;
    }

    .price_slider_amount {
        text-align: right;

        .price_label {
            display: inline-block;
            line-height: 45px;
        }

        .button {
            float: left;
        }
    }

    .ui-slider {
        position: relative;
        text-align: left;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        background-color: black;
        cursor: ew-resize;
        outline: none;
        top: -7px;
        margin-left: -0.5em;
        border-radius: 0;
        height: 17px;
        width: 10px;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: 0.7em;
        display: block;
        border: 0;
        border-radius: 1em;
        background-color: $primary-color;
    }

    .price_slider_wrapper .ui-widget-content {
        border-radius: 1em;
        background-color: #ebebeb;
        border: 0;
    }

    .ui-slider-horizontal {
        height: 4px;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: -1px;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: -1px;
    }
}

/** ------------------------------------------
* WIDGET RATING FILTER
* ------------------------------------------ */
.widget_rating_filter {
    .star-rating {
        display: inline-block;
    }
}

/** ------------------------------------------
* WIDGET INSTAGRAM
* ------------------------------------------ */
.jms-instagram {

	.instagram {
		margin-top: 15px;
		margin-left: -5px;
		margin-right: -5px;
	}

	.cols-1 {
		.item {
			width: 100%;
		}
	}

	.cols-2 {
		.item {
			width: 50%;
		}
	}

	.cols-3 {
		.item {
			width: 33.333333%;
		}
	}

	.cols-4 {
		.item {
			width: 25%;
		}
	}

	.cols-5 {
		.item {
			width: 20%;
		}
	}

	.item {
		float: left;
		padding: 5px;

		a {
			display: block;
			overflow: hidden;
            position: relative;

            &:before {
                content: '';
                width: 94%;
                height: 94%;
                border: 1px solid $white;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                @include transition(opacity .3s ease 0s);
            }

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-text-main;
                @include transition(opacity .3s ease 0s);
            }
		}

		img {
			width: 100%;
		}

        &:hover {
            a {
                &:before {
                    opacity: 0.4;
                }

                &:after {
                    opacity: 0.1;
                }
            }
        }
	}

}

//Social
.social-network {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-right: 25px;
        float: left;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-size: 20px;
        }
    }
}

// Flickr Widget
.flickr-container{
    margin-left: -5px;

    &:after {
        clear:both;
        content: '';
        display: table
    }

    .flickr_badge_image {
        float:left;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        position:relative;
        width: 33.33%;

        img {
            width: 100%;
            -moz-transition:opacity .2s;
            -o-transition:opacity .2s;
            -webkit-transition:opacity .2s;
            transition:opacity .2s;

            &:hover {
                opacity:.8;
            }
        }

    }
}


// PRODUCT LIST
.product_list_widget {
    > li {
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #eeeeee;

        &:last-child {
            padding-bottom: 0px;
            margin-bottom: 0px;
            border-bottom: none;
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        a {
            margin-bottom: 8px;
            display: block;
        }

        .product-title {
            font-size: inherit;
        }

        img {
            float: left;
            margin-right: 15px;
            max-width: 80px;
        }

        .star-rating {
            display: block;
            margin-left: 80px;
            margin-bottom: 8px;
            font-size: 12px;
            width: 70px;

            span:before {
                font-size: 12px;
            }
        }

        .reviewer {
            font-size: 13px;
        }

        del {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5)
        }

        ins {
            text-decoration: none;
            margin-left: 5px;
            color: $primary-color;
        }

        .woocommerce-Price-amount {
            font-weight: 600;
        }
    }

}
